    <spacer size="16"></spacer>
    <row>
        <columns small="2" large="3"></columns>
        <columns small="8" large="6">
            <img src="{{root}}/assets/img/Every Day at BB.png" alt="">
        </columns>
        <columns small="2" large="3"></columns>
    </row>
    <row>
        <columns large="1" small="1"></columns>
        <columns large="10" small="10">
            <img class="show-for-large" src="{{root}}/assets/img/5_12.png" alt="">
            <img class="hide-for-large" src="{{root}}/assets/img/5_12_m.png" alt="">
        </columns>
        <columns large="1" small="10"></columns>
    </row>
    <hr />
    <spacer size="16"></spacer>