    <row>
        <columns small="1" large="2"></columns>
        <columns small="10" large="8">
            <img class="show-for-large" src="{{root}}/assets/img/Every day Visa.png" alt="">
            <img class="hide-for-large" src="{{root}}/assets/img/Every Day Visa_m.png" alt="">
        </columns>
        <columns small="1" large="2"></columns>
    </row>
    <row>
        <columns small="1" large="1"></columns>
        <columns small="10" large="10">
            <img src="{{root}}/assets/img/3P-Gas-LT_2P_1P_Horiz_Alt1_Live.png" alt="">
        </columns>
        <columns small="1" large="1"></columns>
    </row>
    <hr />
    <spacer size="16"></spacer>