<row>
    <columns>
        <p>
            <b>E-Mail Preferences</b><br />
            Your %%=v(@PROGRAM_NAME)=%% is issued by Citibank, N.A. If
            you'd like to refine the types of e-mail messages you receive,
            or if you'd prefer to stop receiving e-mail from us, please:
            <a alias="Preferences_ClickHere" href="#" target="_blank">
                click here
            </a>. Citibank manages e-mail preferences by line of
            business and brand. Changing your e-mail preferences for Citi's
            %%=v(@PROGRAM_NAME)=%% does not change your e-mail preferences
            for messages from Citibank's other businesses and brands which
            include retail branch banking, Citi Cards and other private
            label cards.
        </p>
    </columns>
</row>