<row class="hero show-for-large">
  <columns large="1">
  </columns>
  <columns large="10">
    <spacer></spacer>
    <img src="{{root}}/assets/img/ Header_Image.png" alt="">
    <spacer></spacer>
  </columns>
  <columns large="1">
  </columns>
</row>
<row class="hero hide-for-large">
  <columns small="12">
    <spacer></spacer>
    <img src="{{root}}/assets/img/lockup_m.png" alt="">
    <spacer></spacer>
  </columns>
  <columns large="1" small="12">
  </columns>
</row>
<row class="hero">
  <columns small="10" large="6" class="small-offset-1 large-offset-1">
    <p>Every time you use your My Best Buy<sup>&reg;</sup> Visa<sup>&reg;</sup> Card, you get rewards that can be
      redeemed for top tech at Best Buy<sup>&reg;</sup>.</p>
  </columns>
  <columns small="10" large="3" class="small-offset-1">
    <center>
      <button class="small small-expanded" href="#">Learn More</button>
    </center>
  </columns>
  <columns small="0" large="1"></columns>
</row>