<row class="legal">
    <columns>
        <p>
            &copy; %%xtyear%% Best Buy. All rights reserved.
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            %%=v(@LIVE_RICHLY_COPY)=%%
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            This e-mail is sent by Citigroup, Inc.
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            VISA is a registered trademark of Visa International Service Association. This card is issued by Citibank,
            N. A. pursuant to a license from Visa U.S.A. Inc.
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            &copy; %%xtyear%% %%=v(@LEGAL_VEHICLE)=%%
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            All rights reserved.
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            %%=v(@FIELD1A)=%%
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            %%=v(@FIELD2A)=%%
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            %%=v(@FIELD3A)=%%
        </p>
    </columns>
</row>
<row class="legal">
    <columns>
        <p>
            %%=v(@tracking)=%%
        </p>
    </columns>
    <!-- <custom name="opencounter" type="tracking"> -->
</row>