<row>
    <columns small="1" large="2"></columns>
    <columns small="10" large="8">
        <img class="show-for-large" src="{{root}}/assets/img/LIMITED TIME THROUGH march 31, 2019.png" alt="">
        <img class="hide-for-large" src="{{root}}/assets/img/LIMITED TIME THROUGH march 31, 2019_m.png" alt="">
    </columns>
    <columns small="1" large="2"></columns>
</row>
<row>
    <columns small="1" large="3"></columns>
    <columns small="10" large="6">
        <img src="{{root}}/assets/img/3_BIR.png" alt="">
    </columns>
    <columns small="1" large="3"></columns>
</row>