<row>
    <columns>
        <spacer size="1"></spacer>
    </columns>
</row>
<row class="security-zone">
    <columns small="12" large="12">
        <p>
            The purpose of this Security Zone is to help you verify that
            the e-mail was indeed sent by Citibank. If you have questions,
            <a alias="securityzone_contact us" href="mailto:#">contact
                us</a> at the phone number listed at the bottom of the
            Account Online home page. To learn more about online fraud,
            visit <a alias="securityzone_citibank.com" href="http://www.citibank.com">citibank.com</a>
            and click "Security" at the bottom of the screen.
        </p>
    </columns>
</row>
<row class="security-zone">
    <columns small="12" large="12">
        <p>
            <a alias="Privacy_Footer" href="http://www.citibank.com/us/cards/privacy.htm" target="_blank">Privacy</a>
            |
            <a alias="Security_Footer" href="https://www.citicards.com/cards/wv/copy.do?screenID=1518" target="_blank"
            >Security</a>
        </p>
    </columns>
</row>